# --- JAVA / SPRING BOOT ---
target/
!.mvn/wrapper/maven-wrapper.jar
*.class
*.jar
*.war
*.ear
*.log

# --- ANGULAR / NODE ---
node_modules/
dist/
.angular/
.npm/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# --- IDEs (VS Code, IntelliJ) ---
.idea/
.vscode/
*.swp
*.iml
.DS_Store

# --- INFRA / DOCKER ---
.env